3ano/TAPOO/ExercicioLINQ/cota_parlamentar.csv
**/bin/
**/object/
3ano/TAPOO/ConversorDeUnidadesDeMedida/obj/Debug/net8.0
3ano/TAPOO/ConversorDeUnidadesDeMedida/obj
ConversorDeUnidadesDeMedida/obj
ConversorDeUnidadesDeMedida/obj
ConversorDeUnidadesDeMedida/obj
ConversorDeUnidadesDeMedida/obj
3ano/TAPOO/Restaurante/restaurante/obj
3ano/TAPOO/JantarDosFilosofos/obj
3ano/TAPOO/batalha-naval/Player1/obj/Debug/net9.0
3ano/TAPOO/batalha-naval/Player1/obj/Debug/net9.0
3ano/TAPOO/batalha-naval/Player1/obj
3ano/TAPOO/batalha-naval/BatalhaNaval.Core/obj/Debug/net9.0
3ano/TAPOO/batalha-naval/BatalhaNaval.Core/obj/Debug/net9.0
3ano/TAPOO/batalha-naval/Player1.Tests/obj/Debug/net9.0
3ano/TAPOO/batalha-naval/Player2/obj/Debug/net9.0
