3ano/TAPOO/ExercicioLINQ/cota_parlamentar.csv
**/bin/
**/object/
3ano/TAPOO/ConversorDeUnidadesDeMedida/obj/Debug/net8.0
3ano/TAPOO/ConversorDeUnidadesDeMedida/obj
ConversorDeUnidadesDeMedida/obj
ConversorDeUnidadesDeMedida/obj
ConversorDeUnidadesDeMedida/obj
ConversorDeUnidadesDeMedida/obj
3ano/TAPOO/Restaurante/restaurante/obj
3ano/TAPOO/JantarDosFilosofos/obj
